#AnchorPane{
    -fx-background-color: #18191b;
}


.menu-bar{
    -fx-background-color: #212225;
    -fx-padding: 5 0 0 20;
    -fx-text-fill: #ffffff;
}


.menu{
    -fx-background-color: #212225;
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-padding: 5 0 0 20;
    -fx-font-size: 16pt;
}


.menu-item{
    -fx-background-color: white;
}

.menu-item .label{
    -fx-text-fill: white;

}

.menu:showing .label{
    -fx-text-fill: orange;
}

.menu-item:focused {
    -fx-background-color: #42ebf4;
}

.menu-item:focused .label {
    -fx-text-fill: black;
}


#credit{

    -fx-background-color: #42e8f4;
    -fx-background-radius: 12px;

}

#text{

    -fx-font-size: 17pt;
    -fx-alignment: center;
    -fx-background-color: #18191b;
    -fx-text-fill:white;

}