#AnchorPane{
    -fx-background-color: black;

}

#header{
    -fx-background-color: #212225;
}

.table-view .column-header-background .label{
    -fx-text-fill: #ffb342;
}

.table-view .column-header {
    -fx-background-color:  #212225;
    -fx-border-width: 5;

}

.table-view{
    -tx-background-color:black;



}

.table-view .table-cell{
    -fx-background-color: #212225;
    -fx-text-fill: white;
    -fx-border-width: 5;
    -fx-alignment:CENTER;


}

.table-row-cell{
    -fx-border-color: black;
    -fx-table-cell-border-color:black;


}
#text{
    -fx-font-size:20;
}
